{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le meilleure réseau d'appartements
{% endblock %}

{#action#}
{% block body %}

    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-3 justify-content">Bienvenue Eat's House!</h1>
            <p class="lead">Allez manger chez votre voisin c'est maintenant possible avec Eat's House! Sélectionner votre repas et votre secteur et régalez-vous!</p>
            <hr class="my-4">
            <p>Vous aimez partager? Vous aimez manger? Alors n'attendez plus!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>
    </div>


    <h2 class="h1 mt-3 mb-4">Vos repas préféré !</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                     <strong>50&euro; / Le repas </strong> <br>
                    <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="Image de l' appartement"
                     style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">Repas 100% Lyonnais!</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta perspiciatis quasi sint? Dolorum fuga ipsum iure laudantium necessitatibus qui sequi similique? Commodi in itaque nemo nesciunt nostrum sit sunt tenetur?</p>
                    <a href="#" class="btn btn-secondary">En savoir plus ...</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    <strong>80&euro; / Le repas </strong> <br>
                    <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="Image de l' appartement"
                     style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">Repas gastronomique Maison!</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta perspiciatis quasi sint? Dolorum fuga ipsum iure laudantium necessitatibus qui sequi similique? Commodi in itaque nemo nesciunt nostrum sit sunt tenetur?</p>
                    <a href="#" class="btn btn-secondary">En savoir plus ...</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    <strong>10&euro; / Le déjeuner </strong> <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l' appartement"
                     style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">Déjeuner convivial</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta perspiciatis quasi sint? Dolorum fuga ipsum iure laudantium necessitatibus qui sequi similique? Commodi in itaque nemo nesciunt nostrum sit sunt tenetur?</p>
                    <a href="#" class="btn btn-secondary">En savoir plus ...</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos hôtes stars !</h2>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Camilo Bolanos</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Camilo" class="float-left mr-3">
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eum labore nihil perferendis placeat reprehenderit. </p>
                        <a href="" class="btn btn-success float-right">En savoir plus!</a>

                    </div>
                    "
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Camilo Bolanos</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Camilo" class="float-left mr-3">
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eum labore nihil perferendis placeat reprehenderit. </p>
                        <a href="" class="btn btn-success float-right">En savoir plus!</a>

                    </div>
                    "
                </div>
            </div>
        </div>
    </div>
{% endblock %}